<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.Chat" android:installLocation="auto" android:versionCode="4" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27" />
	<!--<service android:name="org.eclipse.paho.android.service.MqttService" />-->
	<application android:label="Chat.Android"></application>
	<uses-sdk android:minSdkVersion="6" />
</manifest>